:root {
  --primary: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary), sans-serif;
}

.border-divider {
  height: 1px;
  border-bottom-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg,
      rgba(206, 96, 89, 0) 0%,
      rgb(206, 96, 89) 50%,
      rgba(206, 96, 89, 0) 100%);
  margin: 60px auto;
}

:root {
  --primary-orange-color: #ce6059;
  --secondary-green-color: #005651;
  --secondary-green-color-2: #003d39;
  --secondary-green-color-alt: #b0d9d766;
}

/* Header */
.header_section {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: right;
  box-shadow: 0px 0px 1.875rem rgba(0, 0, 0, .3019607843);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;

  .search_on_type-container {
    margin-left: auto;
  }
}

@keyframes LoadBtnAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1.75rem);
  }
}

.search_on_type-container {
  position: relative;
  width: max-content;
  border-radius: 20px 20px 0 0;
  max-width: 90vw;

  .search_input-btn {
    display: flex;
    height: 30px;
    position: relative;
    z-index: 1;

    .search_input {
      width: 220px;
      transition: all .3s ease;

      &:has(input:focus) {
        width: 250px;
      }

      input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background: var(--primary-orange-color);
        border-radius: 50px 0 0 50px;
        padding: 0 10px 0 16px;
        font-size: 12px;
        color: white;

        &::placeholder {
          color: white;
        }
      }
    }

    .search_input-anim-btn {
      width: 100px;
      min-width: 100px;
      overflow: hidden;
      position: relative;
      background-color: var(--first-color);
      background: var(--secondary-green-color-2);
      border-radius: 0 50px 50px 0;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 150%;
        background: repeating-linear-gradient(120deg,
            transparent,
            transparent 0.75rem,
            var(--secondary-green-color-alt) 0.75rem,
            var(--secondary-green-color-alt) 1.5rem);
        animation: LoadBtnAnimation .5s infinite linear;
        z-index: -1;
      }

      &::after {
        cursor: wait;
        content: 'Searching...';
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        background: transparent;
        color: transparent;
        font-size: 12px;
      }

      button {
        border-radius: 0 10px 10px 0;
        height: 100%;
        width: 100%;
        border: none;
        background: transparent;
        color: white;
        position: relative;
        font-size: 12px;
        user-select: none;
        background: var(--secondary-green-color-2);

        &:hover {
          background: var(--secondary-green-color);
        }
      }

      &.loading {
        &::before {
          z-index: 2;
        }

        &::after {
          color: white;
          z-index: 3;
        }

        button {
          color: transparent;
        }
      }
    }
  }

  /* Results */
  .input_typed-results {
    position: absolute;
    display: none;
    top: 30px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    margin-top: -15px;
    box-shadow: 0px 1px 5px 2px #00565169;

    &>ol {
      background: red;
      padding: 0;
      margin: 0;

      &>li {
        position: relative;

        &:first-child {
          &>p {
            top: 20px;
          }

          &>ul {
            &>li:first-child {
              padding-top: 28px;

              a {
                /* border-top: none; */
              }
            }
          }
        }

        &:last-child {
          ul {
            li:last-child {
              a {
                padding-bottom: 8px;
              }
            }
          }
        }

        &>p {
          margin: 0;
          position: absolute;
          font-size: 10px;
          color: var(--secondary-green-color);
          border-radius: 4px;
          background: white;
          padding: 1px 5px;
          left: 10px;
          top: -8px;
          font-weight: 500;
        }

        &>ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            background: var(--secondary-green-color);

            &:hover {
              background: var(--secondary-green-color-2);
            }

            &:first-child {
              a {
                padding-top: 13px;
              }
            }

            &:last-child {
              a {
                padding-bottom: 13px;
              }
            }

            a {
              border-top: 1px solid #ccccccaa;
              font-size: 12px;
              color: white;
              text-decoration: none;
              padding: 6px 16px 6px 20px;
              display: block;
              transition: all .3s ease;

              &:hover {
                background: var(--secondary-green-color-2);
              }
            }
          }
        }
      }
    }
  }

  .input_typed-results:has(ol.show) {
    display: block;
  }
}

/* Hero Section */
.hero_section {
  .hero-top-right-img {
    position: absolute;
    right: 0;
    top: 75px;
    width: 120px;
    z-index: -1;

    @media (max-width:768px) {
      width: 80px;
    }

    @media (max-width:576px) {
      top: unset;
      bottom: -7px;
      width: 60px;
      right: unset;
      left: calc(200px + 30vw);
    }

    @media (max-width:500px) {
      left: calc(200px + 25vw);
    }

    @media (max-width:400px) {
      left: calc(200px + 18vw);
    }
  }

  h1 {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 5.2px;
    max-width: 320px;
    text-align: center;
    margin: 60px 0 40px;
  }

  .certification {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 5px 0;
  }

  .certification>span>* {
    width: 14px;
  }

  .certification p {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 14.63px;
    margin: 3px 0 0 00;
  }

  .hero_search {
    margin: 25px auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    max-width: 700px;

    @media (max-width:768px) {
      width: 100%;
    }

    &>div {
      display: flex;
      position: relative;
      width: 100%;
      max-width: 90vw;
      transition: all .3s ease;

      &:has(input:focus) {
        width: 110%;
      }

      .search_on_type-container.hero-search_on_type-container {
        width: 100%;

        &>.search_input-btn {
          & .search_input {
            width: 100%;
            position: relative;

            img {
              position: absolute;
              left: 12px;
              top: 10px;
              width: 18px;
            }

            input {
              width: 100%;
              height: 38px;
              border: 1px solid var(--primary-orange-color);
              border-radius: 8px 0 0 8px;
              padding: 0 10px 0 40px;
              font-size: 14px;
              font-weight: 500;
              color: #1D1D1B;
              background: white;

              &::placeholder {
                color: #1D1D1B;
              }
            }
          }

          & .search_input-anim-btn {
            border: 1px solid var(--primary-orange-color);
            border-radius: 0 8px 8px 0;
            color: white;
            height: 38px;
            background: var(--primary-orange-color);
            width: 160px;

            button {
              border-radius: 0 8px 8px 0;
              font-weight: 500;
              font-size: 14px;
              width: 100%;
              background: var(--primary-orange-color);

              &:hover {
                background: #d86159;
              }
            }

            &::after {
              font-size: 14px;
            }
          }
        }

        &>.input_typed-results {
          border-radius: 0 0 8px 8px;
          border: 1px solid var(--primary-orange-color);
          box-shadow: 0px 1px 5px 2px #ce60599c;

          &>ol {
            &>li {
              &:first-child {
                &>p {
                  top: 27px;
                }

                &>ul {
                  li:first-child {
                    padding-top: 35px;
                  }
                }
              }

              &>p {
                color: var(--primary-orange-color);
              }

              &>ul {
                & li {
                  background: #d86159;

                  &:hover {
                    background: var(--primary-orange-color);
                  }

                  a {
                    &:hover {
                      background: var(--primary-orange-color);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &>p {
      color: #1D1D1B;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.1px;
      margin: 0;
      text-align: center;
    }
  }

  .google-review {
    display: flex;
    align-items: center;
    gap: 13px;
    text-decoration: none;
    color: black;
    transition: all .3s ease;

    @media (max-width:576px) {
      margin-left: -12vw;
    }

    @media (max-width:500px) {
      margin-left: -14vw;
    }

    @media (max-width:400px) {
      margin-left: -18vw;
    }

    &:hover {
      transform: translateY(-5px);
    }

    &>img {
      width: 40px;
    }

    .g-rattings {
      &>h4 {
        line-height: 1em;
        margin-bottom: 5px;
        color: #000000;
        font-size: 15px;
        font-weight: 700;
        margin: 0 0 8px 0;
      }

      &>div {
        display: flex;
        align-items: center;
        gap: 4px;

        &>h2 {
          font-size: 18px;
          font-weight: bold;
          line-height: 1em;
          margin: 0 6px 0 0;
        }

        .stars {
          display: flex;

          &>img {
            width: 18px;
          }
        }
      }
    }
  }
}

/* Speakers Section */
.speakers_section {
  .speakers-heading {
    &>div>p {
      text-align: left;
      color: var(--primary-orange-color);
      font-family: "Montserrat", Sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.1px;

      span {
        font-weight: 400;
      }
    }

    &>div>div {
      h1 {
        color: #000000;
        font-family: "Montserrat", Sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 5.25px;
      }

      p {
        text-align: center;
        color: #1D1D1B;
        font-family: "Montserrat", Sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .speaker_card {
    .img {
      position: relative;
      z-index: 2;

      img {
        width: 100%;
      }
    }

    .speaker-info {
      position: relative;
      background: #005651;
      transition: all .3s ease;

      &::before {
        background-image: url(../images/vertical-wave-border.svg);
        background-size: 100% 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        content: "";
        display: block;
        width: 0.5rem;
        height: 95%;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        left: 5%;
        top: -2.5%;
      }

      h4 {
        color: white;
        margin: 0;
        font-family: "Libre Baskerville", sans-serif;
        font-size: 1.2em;
        line-height: 1.23;
        text-transform: uppercase;
        letter-spacing: .22em;
        font-weight: bold;
      }

      ul {
        padding: 0;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 15px;

        li {
          display: flex;
          align-items: start;
          gap: 15px;
          color: white;
          font-size: 0.75rem;
          letter-spacing: 0.05rem;
          text-transform: uppercase;
          padding-top: 0.1875rem;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: var(--primary-orange-color);
            min-width: 30px;
            aspect-ratio: 1;

            img {
              width: 20px;
            }
          }

          div {
            display: flex;
            gap: 4px;

            a {
              color: white;
              text-decoration: none;
              transition: all .3s ease;

              &:hover {
                color: var(--primary-orange-color);
              }
            }

            p {
              margin: 0;
              font-size: 0.75rem;
            }
          }

          div:has(a) p {
            text-transform: lowercase;
            margin-left: 4px;
          }
        }
      }

      .quote {
        gap: 5px;

        p {
          color: white;
          display: block;
          font-style: normal;
          font-family: "Libre Baskerville", sans-serif;
          font-size: 0.875rem;
          line-height: 1.4;
          margin: 1.625rem 0;
          position: relative;
          text-indent: 15px;

          &::before,
          &::after {
            position: absolute;
            display: inline;
            text-indent: 0px;
            font-size: 24px;
            color: var(--primary-orange-color);
            margin-top: -5px;
          }

          &::before {
            content: '“';
            left: 0;
          }

          &::after {
            content: '”';
            padding-left: 5px;
          }
        }

        span {
          color: var(--primary-orange-color);
          font-size: 24px;
        }
      }

      ._btn {
        display: inline-block;
        text-transform: uppercase;
        border-radius: 50px;
        position: relative;
        border: 0.125rem solid white;
        overflow: hidden;
        padding: 8px 36px;
        height: 42px;
        text-decoration: none;

        span {
          display: block;
          transition: all .35s cubic-bezier(0.1, 0.52, 0.42, 1.3);
          text-decoration: none;
          color: white;
          font-size: 0.775rem;
          font-weight: bold;
          line-height: 1.875;
        }

        span:last-child {
          transform: translateY(50px);
        }

        &:hover {
          span:first-child {
            transform: translateY(-50px);
          }

          span:last-child {
            transform: translateY(-22px);
          }
        }
      }
    }

    &:hover {
      .speaker-info {
        background: #003d39;
      }
    }
  }
}

/* Information Section With Buttons */
.info_section {
  .content {
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;

    h1 {
      color: #0D1935;
      font-family: "Roboto", Sans-serif;
      font-size: 30px;
      font-weight: 700;
      line-height: 35px;
      letter-spacing: 0px;
    }

    p {
      text-align: center;
      color: #1B1A1ECC;
      font-family: "Montserrat", Sans-serif;
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      margin: 0;
    }

    .btns {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;

      &>a {
        font-family: "Roboto", Sans-serif;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0px;
        text-decoration: none;
        display: flex;
        align-items: baseline;
        gap: 10px;
        color: #FFFFFF;
        background-color: var(--primary-orange-color);
        border: 1.5px solid var(--primary-orange-color);
        border-radius: 6px;
        padding: 13px 40px;
      }

      a._btn-light {
        color: var(--primary-orange-color);
        background: white;
      }

      a._btn-dark {
        background: var(--primary-orange-color);
        color: white;
      }
    }
  }
}

/* Details Section With Image and Context */
.details_section {
  .details_card {
    background: var(--primary-orange-color);

    ._text {
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: #FFFFFF;
      font-family: "Roboto", Sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0px;

      p {
        margin: 0;
      }

      a {
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }

  .context_side {
    h1 {
      color: #072026;
      font-family: "Roboto", Sans-serif;
      font-size: 26.25px;
      font-weight: 700;
      line-height: 32.25px;
      letter-spacing: 6.2px;
    }

    p {
      color: #7A7A7A;
      font-family: "Roboto", Sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }
  }
}